.map {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #EEEEDD;
  padding: 0px;
  z-index: auto;
}

. header{
  background-color: #cf0063;
  height: 60px;
  width: 100%;
  align-items: center;
  vertical-align: middle;
}


.body{
  background-color: #cf0063;
}


.centerSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;

}

.appScreen {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding-right: 50px;
  height: 600px;
  width: 360px;
}


.dataScreen {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding-left: 50px;
  height: 600px;
  width: 480px;
}



.myH1{
  font-family: 'Montserrat', sans-serif;
  font-size: 36;
  font-weight: bold;
  text-align: center;
  color: white;
}

.titleDiv{
  width: 100%;
  height: 40px;
  background-color: #483E6B
}

.tableHead{
  background-color: #CDD6D5;
}

.tableData {
  display: inline-table;
  font-family: 'Montserrat', sans-serif;
  font-size: 12;
  margin: auto;
  width: 80%;
  margin-top: 33px;
  margin-bottom: 25px;
  border-bottom: 2px solid #CDD6D5;


}

.tableTopTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  font-weight: bold;
  margin: auto;
  text-align: center;

}

.tableTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  font-weight: bold;
  margin: auto;
}

.tableSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  font-weight: bold;
  margin: auto;
  text-align: left;
  margin-left: 5px;
}

.bottom-panel {
  position: relative;
  height: 100px;
  width: 200px;
  z-index: auto;
  background-color: white;
  padding: 5px;
}

.my-btn {
  height: 100%;
  width: 100%;
  align-self: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 30;
  font-weight: bold;
}

.answer-panel {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: auto;
  background-color: white;
  padding: 5px;
  text-align: left;
  border: 0px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 12px;
  line-height: 18px;
  padding-left: 5px;
  overflow: auto;
  height: auto;
  width: auto;
}

.my-btn-small {
  height: 35px;
  width: 100px;
  align-self: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  font-weight: bold;
}
