.map {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #EEEEDD;
  padding: 0px;
  z-index: auto;
}

.header {
  background-color: #077282;
  height: 60px;
  width: 100%;
  align-items: center;
  vertical-align: middle;
}

.body {
  background-color: #077282;
}

.centerSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.appScreen {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding-right: 50px;
  height: 600px;
  width: 360px;
}

.dataScreen {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding-left: 50px;
  height: 600px;
  width: 480px;
}

.myH1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36;
  font-weight: bold;
  text-align: center;
  color: white;
}

.titleDiv {
  width: 100%;
  height: 40px;
  background-color: #483E6B
}

.tableHead {
  background-color: #CDD6D5;
}

.tableData {
  display: inline-table;
  font-family: 'Montserrat', sans-serif;
  font-size: 12;
  margin: auto;
  width: 80%;
  margin-top: 33px;
  margin-bottom: 25px;
  border-bottom: 2px solid #CDD6D5;
}

.tableTopTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.tableTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  font-weight: bold;
  margin: auto;
}

.bottom-panel {
  position: relative;
  height: 100px;
  width: 200px;
  z-index: auto;
  background-color: white;
  padding: 5px;
}

.my-btn {
  height: 100%;
  width: 100%;
  align-self: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 30;
  font-weight: bold;
}

/* ########################################################################### */
/* TOGGLE switch */
/* ########################################################################### */
.onoffswitch {
  position: relative;
  width: 68px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 37px;
  padding: 0;
  line-height: 37px;
  border: 2px solid #999999;
  border-radius: 37px;
  background-color: #AD3E3E;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 37px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 29px;
  border: 2px solid #999999;
  border-radius: 37px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
  background-color: #34C289;
}

.onoffswitch-checkbox:checked+.onoffswitch-label, .onoffswitch-checkbox:checked+.onoffswitch-label:before {
  border-color: #34C289;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
  right: 0px;
}




/* TRIPS table */
table.tripsTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background-color: white;
  table-layout: fixed;
}

table.tripsTable td, table.tripsTable th {
  border: 1px solid #FFFFFF;
  padding: 4px 4px;
}

table.tripsTable tbody td {
  font-size: 13px;
}

table.tripsTable tr:nth-child(even) {
  background: #D0E4F5;
}

table.tripsTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}

table.tripsTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}

table.tripsTable thead th:first-child {
  border-left: none;
}

table.tripsTable tfoot td {
  font-size: 14px;
}
